<!-- Main -->
<div class="wrapper">
	<div class="container" id="main">

		<article id="content">
			<header>
				<h2>Computer Architecture</h2>
				<p>“Computer Architecture is the science and art of selecting
					and interconnecting hardware components to create
					computers that meet functional, performance and cost
					goals.” - WWW Computer Architecture Page </p>
				</header>
				<a href="/#/architecture" class="image featured"><img src="images/comparc.jpg" alt="" /></a>
				<p>Computer architecture is a specification detailing how a set of software and hardware technology standards interact to form a computer system or platform. In short, computer architecture refers to how a computer system is designed and what technologies it is compatible with.</p>

				<p>As with other contexts and meanings of the word architecture, computer architecture is likened to the art of determining the needs of the user, system or technology, and creating a logical design and standards based on those requirements.</p>
			</article>
			<div class="row 150%">
				<div class="3u 12u(narrower)">

					<!-- Sidebar -->
					<section id="sidebar">
						<section>
							<a href="/#/architecture" class="image featured"><img src="images/john.gif" alt="" /></a>
							<header>
								<h3>John von Neumann</h3>
							</header>
							<p>John von Neumann (December 28, 1903 to February 8, 1957) was a Hungarian pure and applied mathematician, physicist, inventor and polymath. He made major contributions to a number of fields. His contributions to mathematics include the fields of functional analysis, ergodic theory, geometry, topology, and numerical analysis.</p>
							<h3>John's Quotes</h3>
							<ul class="default">
								<li>Young man, in mathematics you don't understand things. You just get used to them.</li>
								<li>There's no sense in being precise when you don't even know what you're talking about.</li>
								<li>Anyone who attempts to generate random numbers by deterministic means is, of course, living in a state of sin.</li>
							</ul>
						</section>
					</section>

				</div>
				<div class="9u 12u(narrower) important(narrower)">

					<!-- Content -->
					<article id="content">
						<header>
							<h2>von Neumann Architecture</h2>
							<p>An architecture is comprised of an Arithmetic Logic Unit (ALU), Memory, Input/Output, and a Control Unit.</p>
						</header>
						<a href="/#/architecture" class="image featured"><img src="images/von.png" alt="" /></a>
						<p>A very good example of computer architecture is von Neumann architecture, which is still used by most types of computers today. This was proposed by the mathematician John von Neumann in 1945. It describes the design of an electronic computer with its CPU, which includes the arithmetic logic unit, control unit, registers, memory for data and instructions, an input/output interface and external storage functions.</p>

						<p>The diagram above shows the essential features of the Von Neumann or stored-program architecture.</p>
						<h3>Memory Unit</h3>

						<p>The computer will have memory that can hold both data and also the program processing that data. In modern computers this memory is RAM.</p>

						<h3>Control Unit</h3>

						<p>The control unit will manage the process of moving data and program into and out of memory and also deal with carrying out (executing) program instructions - one at a time. This includes the idea of a 'register' to hold intermediate values. In the illustration above, the 'accumulator' is one such register.</p>
						<p>The 'one-at-a-time' phrase means that the von neumann architecture is a sequential processing machine.</p>

						<h3>Input/Output</h3>

						<p>This architecture allows for the idea that a person needs to interact with the machine. Whatever values that are passed to and forth are stored once again in some internal registers.
							Arithmetic Logic Unit</p>

							<p>This part of the architecture is solely involved with carrying out calculations upon the data. All the usual Add, Multiply, Divide and Subtract calculations will be available but also data comparisons such as 'Greater Than', 'Less Than', 'Equal To' will be available.</p>

							<h3>Bus</h3>

							<p>Notice the arrows between components? This implies that information should flow between various parts of the computer. In a modern computer built to the Von Neumann architecture, information passes back and forth along a 'bus'. There are buses to identify locations in memory - an 'address bus' and there are buses to allow the flow of data and program instructions - a 'data bus'.</p>

							<p>The Von Neumann architecture has been incredibly successful, with most modern computers following the idea. You will find the CPU chip of a personal computer holding a control unit and the arithmetic logic unit (along with some local memory) and the main memory is in the form of RAM sticks located on the motherboard.</p>
						</article>

					</div>
				</div>
			</div>
		</div>