<!-- Main -->
<div class="wrapper">
	<div class="container" id="main">

		<article id="content">
			<header>
				<h2>Computer Buying Guide</h2>
				<p>Choosing The Perfect Computer (Information from Consumer Reports)</p>
			</header>
			<a href="#" class="image featured"><img src="images/buying.jpg" alt="" /></a>
			<p>These days, it's not unusual for individuals or families to have more than one type of computer. If you’re looking to carry your computer to work or on vacation, you obviously need a laptop. And some have slimmed down to weigh as little as a couple of pounds.</p>
			<p>If mobility isn't a concern get a desktop, because it’s very likely that you’ll get more performance for the same money—plus more flexibility in customizing the machine once you buy it. (That’s one reason that lots of serious gamers have desktops.)</p>
			<p>Those are two major categories of computer, but there are several variations to consider—and we haven’t even mentioned the choice of operating system yet.</p>
			<p>Choices among computers are becoming more confusing as the boundaries between categories blur. For instance, some new desktops are nearly as small and inconspicuous as a laptop. Conversely, you can easily find a laptop that’s just as powerful as a typical desktop. And then there are some slightly unconventional categories, like laptops that convert into tablets and tablets that convert into laptops and all-in-one desktops that don’t need a separate monitor. For more you can check our full computer ratings (available to subscribers).</p>
			<header>
				<h2>Desktop Computers</h2>
			</header>
			<p>Many people have moved away from desktops in the past decade. However, there's still a lot to recommend desktops for many users.</p>
			<p>Desktops typically offer more performance for the money than laptops and are less expensive to repair. They may allow for a more ergonomically correct work environment, let you work on a larger screen, and generally come with better speakers.</p>
		</article>
		<div class="row features">
			<section class="3u 12u(narrower) feature">
				<div class="image-wrapper first">
					<a href="/#/buying" class="image featured"><img src="images/desktop1.jfif" alt="" /></a>
				</div>
				<header>
					<h3>Full-Sized Computer</h3>
				</header>
				<p>Though they require a lot of room under or on top of your desk, full-sized desktops are the least expensive and the easiest to upgrade and repair. They also offer the most features and options.</p>
			</section>
			<section class="3u 12u(narrower) feature">
				<div class="image-wrapper">
					<a href="/#/buying" class="image featured"><img src="images/desktop2.jfif" alt="" /></a>
				</div>
				<header>
					<h3>Compact Computer</h3>
				</header>
				<p>At less than half the size of full-size desktops, compacts or slim desktops are ideal if you lack space under your desk or you plan to put the computer on the desk itself. Like their larger brethren, compact desktops tend to be inexpensive. But they may be more difficult to upgrade and repair.</p>
			</section>
			<section class="3u 12u(narrower) feature">
				<div class="image-wrapper first">
					<a href="/#/buying" class="image featured"><img src="images/desktop3.jfif" alt="" /></a>
				</div>
				<header>
					<h3>All-In-One Computer</h3>
				</header>
				<p>These computers incorporate the computer and monitor in one case. The components are tightly packed behind and underneath the display, making them difficult to upgrade or repair. Meant to be space-savers, they're also designed to look less stodgy than traditional computers. You'll pay a premium for these models.</p>
			</section>
			<section class="3u 12u(narrower) feature">
				<div class="image-wrapper">
					<a href="/#/buying" class="image featured"><img src="images/desktop4.jfif" alt="" /></a>
				</div>
				<header>
					<h3>Gaming Computer</h3>
				</header>
				<p>The sky's the limit for gaming systems. You get the fastest processors, the most sophisticated graphics cards, multiple large hard drives, and lots of RAM. Cases are usually large and offer room for additional RAM and other improvements.</p>
			</section>
		</div>
		<article id="content">
			<header>
				<h2>Laptops</h2>
			</header>
			<p>Laptops let you use your computer away from your desk, but you pay for that mobility with a keyboard that's a little more cramped, a higher price, and (sometimes) reduced performance. They're also more expensive to repair than desktops.</p>
			<p>Whether your main consideration is portability or power, screen size will be an essential factor in deciding which type of laptop is right for you. Visit our computer ratings (available to subscribers) for more.</p>
		</article>
		<div class="row features">
			<section class="4u 12u(narrower) feature">
				<div class="image-wrapper first">
					<a href="/#/buying" class="image featured"><img src="images/laptop1.jfif" alt="" /></a>
				</div>
				<header>
					<h3>Smaller (10" to 13" screen size)</h3>
				</header>
				<p>If you're planning to carry the laptop around with you frequently, an 11- to 13-inch model may be the right choice.</p>
				<p>While 10- or 11-inch laptops may require you to sacrifice some performance, laptops in this range tend to have fast processors and, more importantly, fast solid-state drives, for very good or excellent performance. But you'll also lighten your load.</p>
			</section>
			<section class="4u 12u(narrower) feature">
				<div class="image-wrapper">
					<a href="/#/buying" class="image featured"><img src="images/laptop2.jfif" alt="" /></a>
				</div>
				<header>
					<h3>Medium (14" to 16" screen size)</h3>
				</header>
				<p>This size range offers the ideal balance of performance, portability, and price for many users. They are a good choice if you take your machine along less frequently, or need to use it extensively for work or school. Such a laptop can easily be configured as a desktop replacement.</p>
				<p>Until a few years ago, only 17-inch-and-larger models had graphics processors with dedicated video memory, but now some 14- to 16-inch models have them, making them suitable for gaming.</p>
				<p>For photo editing, our tests of the 15-inch MacBook Pro with Retina display ($1,800) reveal its screen to be among the best we’ve seen for color accuracy and crispness.</p>
			</section>
			<section class="4u 12u(narrower) feature">
				<div class="image-wrapper first">
					<a href="/#/buying" class="image featured"><img src="images/laptop3.jfif" alt="" /></a>
				</div>
				<header>
					<h3>Larger (17" to 18" screen size)</h3>
				</header>
				<p>For folks wanting a desktop replacement, big enough to sit semi-permanently in one place but portable enough to take from room to room, these laptops will deliver. They tend to use top performing processors with standard hard drives that give you tons of storage, though not top performance.</p>
				<p>You might find some with better speakers than smaller laptops can offer. However, they still won’t sound as good as external speakers. And, of course, the larger screen can make it more comfortable to work on multiple windows or large spreadsheets.</p>
			</section>
		</div>
		<article id="content">
			<header>
				<h2>Other Types</h2>
			</header>
			<p>Lighter and less expensive than most laptops, these highly mobile devices offer an extra dose of portability and many–but certainly not all–of the features. Click here to check our computer ratings.</p>
		</article>
		<div class="row features">
			<section class="4u 12u(narrower) feature">
				<div class="image-wrapper first">
					<a href="/#/buying" class="image featured"><img src="images/other1.jfif" alt="" /></a>
				</div>
				<header>
					<h3>Chromebooks</h3>
				</header>
				<p>Chromebooks are based on Google's Chrome operating system. They're generally inexpensive, with some starting as low as $170. They're designed for users willing to work on and store most of their files online. Chromebooks are quick to start up, partly because the operating system doesn't place the demands on the computer that a heavy-duty OS like Windows does, and partly because they use solid-state drives instead of hard drives.</p>
				<p>On the downside, there's not a lot of storage space on a Chromebook. You need access to the internet to get the best work out of one of these machines. And these aren't workhorse computers, though they are fine for creating and sharing documents, web surfing, email, streaming videos and light gaming.</p>
			</section>
			<section class="4u 12u(narrower) feature">
				<div class="image-wrapper">
					<a href="/#/buying" class="image featured"><img src="images/other2.jfif" alt="" /></a>
				</div>
				<header>
					<h3>Convertibles and Detachables</h3>
				</header>
				<p>The tablet-like features in Windows 10 make convertible laptops an appealing category for both serious work and casual play.</p>
				<p>These look like a regular laptop, but the display either pulls out of the keyboard or twists around and lays flat so it can be used like a tablet. What distinguishes detachables from tablets are the keyboard docks that come with them.</p>
			</section>
			<section class="4u 12u(narrower) feature">
				<div class="image-wrapper first">
					<a href="/#/buying" class="image featured"><img src="images/other3.jfif" alt="" /></a>
				</div>
				<header>
					<h3>Tablets</h3>
				</header>
				<p>But, in brief, for some users a tablet can take the place of a laptop. These machines are lightweight and highly portable. They're multifunctional, serving as Web browser, e-book reader, movie viewer, and music player.</p>
				<p>They weigh from just under a pound to about 1.5 pounds and have 7- to 10-inch touch screens. And, in our tests, battery life ranged from 4 hours to nearly 13 hours. Tablets are not ideal for office productivity tasks, but you can add a keyboard to many of them.</p>
			</section>
		</div>
		<article>
			<header>
				<h2>Specification</h2>
			</header>
			<img src="images/speed.jpg" alt="" />
			<h3>Speed Matters</h3>
			<p>Processors with multiple cores can process more data simultaneously. You can check Intel's or AMD's website to see how many cores a processor model has.</p>

			<p>Clock speed, measured in gigahertz (GHz), along with the number of cores and other factors, determines how quickly a CPU can process information. Many processors can up the speed a bit for a brief time to yield maximum performance. Generally, within a processor family, the higher the clock speed, the faster the processor. Clock speeds typically start at around 1GHz for a mobile processor. Speeds can exceed 3GHz for a desktop processor.</p>

			<img src="images/power.jpg" alt="" />
			<h3>Power Consumption</h3>
			<p>Another important factor when choosing a processor, especially for laptops: Lower power consumption = longer battery life.</p>

			<p>If you’re looking for a very basic or budget computer to web surf, email, work on Office documents, then the Intel Celeron, Pentium, AMD A4, or A6 will suffice. If you plan to do some simple gaming as well, the Intel Core i3, AMD A6, or A8 should do the job.</p>

			<p>If you plan to watch videos or play mainstream games, the Intel Core i5, AMD A8, A9, or A10 are good choices. And if you're a gamer or plan to edit HD video, go for a high-end processor such as the Intel Core i7 or AMD A10 or A12 Series.</p>

			<h3>How Much Memory?</h3>
			<p>The more memory a computer has, the faster it is, up to a point. Memory is measured in gigabytes (GB). On desktops, 8GB is common and many laptops include 8GB of RAM. For anything other than heavy multitasking or video editing, 4GB is plenty.</p>

			<img src="images/os.jpg" alt="" />
			<h3>Operating System</h3>
			<p>Windows 10 continues the work of Windows 8.1, bringing a more uniform interface across a variety of devices: computers, tablets, Xbox, and smartphones. In addition, "universal apps" developed for Windows 10 will look and work the same on a variety of devices. And far more games are available for Windows computers than for Macs.</p>

			<p>Macs can be more expensive, but they're less prone to most viruses and spyware, and Apple's support has been tops in our surveys. The company's phone support is free for only 90 days, but you can get unlimited technical support through the Genius Bar at any Apple Store. Apple's OS X El Capitan will be the company's OS until late 2016, when the company replaces it with Mac OS Sierra.</p>

			<img src="images/graphic.jpg" alt="" />
			<h3>Graphics Adapter and Graphics Memory</h3>
			<p>Also known as the video card, GPU, or graphics card, this hardware is responsible for drawing what you see on your screen. Graphics processing comes in two basic flavors: It can either be integrated into the same chip that's running the rest of the computer, or it can run on a discrete piece of equipment.</p>

			<p>Most computers have integrated graphics. This has usually been the less expensive and lower-performing option—fine for most tasks, but not for serious gaming. If you play mainstream and extreme  games with all the visual effects turned on or edit video, especially HD and 4K, then you need discrete graphics. Light video editing and gaming and all other typical computer tasks will do fine with integrated graphics.</p>

			<p>Some new CPUs integrate discrete-class graphics, offering excellent graphics abilities without adding a separate chip.</p>

			<p>Integrated graphics use up part of your system's memory, so make sure you have at least 4GB. If you choose a system with discrete graphics, look for at least 1GB of graphics memory. Gamers should get 2GB or more.</p>

			<img src="images/ssd.png" alt="" />
			<h3>Solid-State Drives</h3>
			<p>SSDs are a different type of storage technology, letting your computer access data without the moving parts required by a traditional hard drive. They are also the single largest performance boost you can give a computer over an identical computer with a hard drive.</p>

			<p>SSDs don't have the spinning disk of a conventional hard drive, so they use less power, work more quietly, and should be more resistant to damage–and less likely to fail mechanically.  And because there are no moving parts, they promise quicker access to data.</p>

			<p>Although they once cost several times as much as traditional hard drives and had smaller capacities, prices are coming down and capacities are inching upwards. In general, Consumer Reports recommends solid state drives over hard drives.</p>

			<img src="images/hdd1.jpg" alt="" />
			<h3>Hard Drives</h3>
			<p>Also known as a hard disk, or HD, this type of drive uses a spinning hard disk and uses more power than a solid-state drive. It is also slower overall.</p>

			<p>Bigger is better. Hard drive sizes are measured in gigabytes and terabytes, and commonly range from 250GB to more than 1TB (terabyte).</p>

			<p>Speed is equally important, and is measured in rpm (revolutions per minute). A slow hard drive will take longer to start up the OS and programs, and complete tasks (such as installing programs or scanning your hard drive for viruses).</p>

			<p>For best performance, get a desktop with at least a 7,200rpm hard drive and a laptop with a 5,400rpm hard drive.</p>

			<h3>Hybrid Drives</h3>
			<p>Lower-priced hybrid drives, which combine a hard drive with solid-state memory, represent a good compromise.</p>

			<img src="images/optical.jpg" alt="" />
			<h3>Optical Drives</h3>
			<p>Blu-ray Disc (BD) drives are the newest standard. They're capable of playing Blu-ray movies and can store 25GB (single layer) or 50GB (dual layer) of data, respectively.</p>

			<p>Many of today's laptops come without an optical drive, saving weight and cost. With high-capacity flash drives available, extra storage isn't a problem on these models. But installing older software—typically distributed on a CD or DVD—could be a problem. Most of today's software is distributed via download, so there's little need for an optical drive.</p>

			<img src="images/battery.jpg" alt="" />
			<h3>The Battery</h3>
			<p>When not plugged into a wall outlet, laptops use a rechargeable lithium-ion battery for power. Laptops go into sleep mode when used intermittently, extending the time between charges.</p>

			<p>You can lengthen battery life if you dim the display, turn off WiFi connectivity when it's not needed, and use only basic applications.</p>

			<p>Some laptops, most notably Apples, Ultrabooks, and other thin-and-light models have non-removable batteries, which may be costly to replace when run-time starts decreasing.</p>
		</article>
		<article>
			<header>
				<h2>Computer Features</h2>
			</header>
			<p>Although most computers come with a basic, pre-defined set of features, that doesn’t mean you don’t have choices. Use this guide to help wade through your options. For more check our computer ratings (available to subscribers).</p>

			<img src="images/video.jfif" alt="" />
			<h3>Video Outputs</h3>
			<p>If you're buying a desktop, check to see which video outputs it has. Except for all-in-ones, almost all desktops have a VGA (analog) output, and most also have a digital output, either DVI (digital visual interface) or HDMI (high-definition multimedia interface).</p>
			<p>VGA is fine for most uses, but for a cleaner, crisper image on large displays, go with DVI or HDMI. You may have to buy an inexpensive cable.</p>
			<p>Most laptops no longer come with a VGA port. Most new desktops and laptops have an HDMI output to feed video to a monitor or an external HDTV.</p>

			<img src="images/mon.jfif" alt="" />
			<h3>Monitors (for desktops)</h3>
			<p>Screen sizes (measured diagonally) generally range from 15 to 24 inches, but you can find larger ones. The most common sizes are 19 and 20 inches.</p>

			<p>Most are wide-screen, which fit widescreen movies better but give you less screen area per inch. Those who plan to edit photos or videos should note differences in color, viewing angle, contrast, and brightness. Monitors are often less expensive when bundled with a new computer.</p>

			<img src="images/display.jfif" alt="" />
			<h3>Displays (for laptops)</h3>
			<p>A 15- to 16-inch display should suit most people. Displays that are 13, 14, and 17 inches are also common, and some manufacturers are also offering 11-inch laptops.</p>
			<p>The screens on most laptops are glossy instead of matte. Glossy screens have more saturated colors and deeper blacks but are also more prone to glare. Like desktop monitors, most laptop displays are wide-screen to show wide-screen movies at their best.</p>

			<img src="images/touch.jfif" alt="" />
			<h3>Touchscreens</h3>
			<p>Borrowing from tablets, companies have begun including touchscreens on many laptops. The notable exception is Apple. These have custom, touch-enabled multimedia apps and include multitouch capability, which lets you use your fingers to zoom, turn, and scroll.</p>
			<p>Windows 10, which is engineered to work on mobile devices as well as conventional computers, appears to be accelerating the trend. Computers with touchscreens tend to cost more.</p>

			<img src="images/networking.jfif" alt="" />
			<h3>Networking</h3>
			<p>For connecting to the Internet, all desktops come with an Ethernet port that lets you run a cable between your desktop and your router. If it's not possible to run such a cable through your home, consider a Wi-Fi adapter. Many desktops have this built in. If not, you can buy one for about $40 and plug it into a USB port. You'll also need a wireless router.</p>
			<p>Laptops come with wireless built in, and some have a port for connecting an Ethernet cable, although many are ditching it to save space.</p>
			<p>Intel's WiDi capability is built into some new laptops that have an Intel Core i-series processor (with a four-digit processor number). WiDi lets you wirelessly stream video from your laptop to a TV. But it requires an external box, which costs $60 from Netgear.</p>
			<p>WiDi supports 1080p resolution. Similar streaming-media technologies include DLNA, WHDI, Miracast, and WirelessHD. Other products, such as Roku and Apple TV, let you wirelessly stream video directly to a TV without a computer.</p>

			<img src="images/wireless.jfif" alt="" />
			<h3>Wireless Mouse</h3>
			<p>Most of those that come bundled with desktops are optical, meaning light sensors on their undersides track movement. If you have a wireless mouse, you won't have to deal with a cord, but you will have to recharge or replace the batteries every few months.</p>

			<img src="images/ports.jfif" alt="" />
			<h3>Ports</h3>
			<p>The latest port to arrive in computers is USB C. It's reversible, so you'll never insert a USB C plug in the wrong way. It can also be used to supply power to your laptop. With an adapter, it's compatible with earlier versions of USB.</p>
			<p>USB ports let you connect a variety of add-on devices, such as digital cameras or external hard drives, as well as flash drives for copying files to and from the hard drive. Having these ports at the front of the desktop case makes connecting devices more convenient.</p>
			<p>An Ethernet port or wireless network card lets you link several computers in the household to share files, a printer, or a broadband Internet connection.</p>
			<p>Thunderbolt, a very fast data-transfer port is also used for connecting external devices. The latest version 3 uses a USB C connector. However, there are fewer compatible devices available for it than there are for USB.</p>
			<p>An eSATA port lets you connect an external hard drive for faster file transfer than with USB 2.0. USB 3.0 matches the speed of eSATA-connected hard drives. eSATA has almost disappeared on todays computers.</p>
			<p>An HDMI output jack lets you run a video cable from the computer to a TV so you can use the computer's DVD drive to view a movie, or stream from an online service such as Netflix to a TV instead of watching on computer monitor.</p>
		</article>
	</div>
</div>