<!-- Main -->
<div class="wrapper">
	<div class="container" id="main">
		<header>
			<h2>Computer Components</h2>
			<p>Computers are built of various components (called Hardware). These include: the CPU, memory, busses, clocks, peripherals (printers, keyboards...), etc. All of these components must communicate with each other and provide a necessary service to the user.</p>
			<h3>From the von Neumann Architecture we can know that computer can be categorised into 4 parts: </h3>
			</header>
			<div class="row features">
				<section class="6u 12u(narrower) feature">
					<div class="image-wrapper first">
						<a href="/#/input" class="image featured"><img src="images/input.jpg" alt="" /></a>
					</div>
					<header>
						<h3>Input</h3>
					</header>
					<p>Peripherals used to provide data to computer</p>
						<ul class="actions">
							<li><a href="/#/input" class="button">Learn More</a></li>
						</ul>
					</section>
					<section class="6u 12u(narrower) feature">
						<div class="image-wrapper">
							<a href="/#/output" class="image featured"><img src="images/output.jpg" alt="" /></a>
						</div>
						<header>
							<h3>Output</h3>
						</header>
						<p>Peripherals that receives data from computer and display for users</p>
							<ul class="actions">
								<li><a href="/#/output" class="button">Learn More</a></li>
							</ul>
						</section>
					</div>
					<div class="row features">
						<section class="6u 12u(narrower) feature">
							<div class="image-wrapper first">
								<a href="/#/process" class="image featured"><img src="images/process.jpg" alt="" /></a>
							</div>
							<header>
								<h3>Process</h3>
							</header>
							<p>Processing instructions of computer programs and carrying out computer operations</p>
								<ul class="actions">
									<li><a href="/#/process" class="button">Learn More</a></li>
								</ul>
							</section>
							<section class="6u 12u(narrower) feature">
								<div class="image-wrapper">
									<a href="/#/memory" class="image featured"><img src="images/memory.jpg" alt="" /></a>
								</div>
								<header>
									<h3>Memory</h3>
								</header>
								<p>Physical device capable of storing information temporarily or permanently</p>
									<ul class="actions">
										<li><a href="/#/memory" class="button">Learn More</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>