<!-- Hero -->
<div class="homepage">
    <div id="hero-wrapper">
        <div id="header" class="container">
            <section id="hero" class="container">
                <header>
                    <h2>Basic Knowledge of Computer</h2>
                </header>
                <p>Learn about the architecture, components and specification </br> of computer in Computer Knowledge! </p>
                <ul class="actions">
                    <li><a href="/#/#arch-wrapper" class="button">Get started</a></li>
                </ul>
            </section>
        </div>
    </div>
</div>

<!-- Promo -->
    <div id="arch-wrapper">
        <section id="promo">
            <h2>Introduction of Computer Architecture</h2>
            <a href="/#/architecture" class="button">Architecture</a>
        </section>
    </div>

    <div id="comp-wrapper">
        <section id="promo">
            <h2>Basic Components of Computer</h2>
            <a href="/#/components" class="button">Components</a>
        </section>
    </div>

    <div id="buy-wrapper">
        <section id="promo">
            <h2>Computer Buying Guide and Tips</h2>
            <a href="/#/buying" class="button">Buying Guide</a>
        </section>
    </div>

    <div id="ucd-wrapper">
        <section id="promo">
            <h2>Explanation of User Centered Design</h2>
            <a href="/#/ucd" class="button">About UCD</a>
        </section>
    </div>
