<!-- Main -->
<div class="wrapper">
	<div class="container" id="main">

		<article id="content">
			<header>
				<h2>Input Devices</h2>
				<p>Input device is any hardware device that sends data to a computer, allowing you to interact with and control the computer.</p>
			</header>
			<a href="/#/input" class="image featured"><img src="images/input2.jpg" alt="" /></a>
			<p>The most commonly used or primary input devices on a computer are the keyboard and mouse. However, there are dozens of other devices that can also be used to input data into the computer. Below is a list of computer input devices that can be utilized with a computer or a computing device.</p>
		</article>
		<div class="row 150%">
			<div class="3u 12u(narrower)">

				<!-- Sidebar -->
				<section id="sidebar">
					<section>
						<header>
							<h3>Facts of Mouse</h3>
						</header>
						<ul class="default">
							<li>The formal name the mouse was patented under is “x,y position indicator for a display system.”</li>
							<li>Mouse is named a “mouse” because it is kind of shaped like the rodent it’s named after — a small round body with a long wire “tail”.</li>
							<li>Nobody is ever sure how to pluralise the term “mouse”, are they? For our everyday rodents, its mice, but when it comes to the plastic version, people stumble on mice, mouse or mouses. Well, we can’t tell you the version that everyone prefers, but we do know that the Oxford Dictionary online states the plural as either “mouses” or “mice”. Problem solved.</li>
							<li>The mouse may have been invented in the 60s, but it didn’t see widespread use until 1984, when it was included as standard with the Apple Macintosh. After that, the mouse really took off, with other big computing brands including a mouse as standard on full computer packages, including Atari, Commodore and Microsoft.</li>
						</ul>
						</section>
						<section>
							<header>
								<h3>Facts of Keyboard</h3>
							</header>
							<ul class="default">
								<li>When you hit spacebar, 600000 people in the world did just the same</li>
								<li>QWERTY is not the most efficient keyboard layout. QWERTY layout was invented by Christopher Sholes in 1872 for his new typewriter design. It turns out that when you would place keys in alphabetical order, people would type so fast, that the mechanical parts would jam. Sholes came with the idea that in order to slow people down.</li>
								<li>Do you know that your keyboard may contain more germs than toilet seat? A study conducted by UK scientists found out that four out of 33 keyboards tested were potential health hazards, and one had levels of germs five times higher than that found on the toilet seat.</li>
							</ul>
							</section>
							<section>
								<header>
								<h3>Facts of Web Camera</h3>
								</header>
								<ul class="default">
									<li>The webcam was invented in 1993, although it was being used at a basic stage from 1991, and it was created by researchers in the Cambridge University for the purpose of monitoring levels in a coffee pot from a remote distance.</li>
									<li>Webcams can be hacked through accidentally installed malware, which allows the hacker to watch the video feed and infiltrate privacy.</li>
									<li>Unlike a digital camera and digital camcorder, a webcam does not have any built-in storage. Instead, it is always connected to a computer and uses the computer hard drive as its storage.</li>
								</section>
							</div>
							<div class="9u 12u(narrower) important(narrower)">

								<!-- Content -->
								<article id="content">
									<div id="mouse">
										<header>
											<h2>List of Common Input Devices</h2>
										</header>
										<img src="images/mouse.png" alt="" />
										<h3>Mouse</h3>
										<p>Computer mouse is a handheld hardware input device that controls a cursor in a GUI and can move and select text, icons, files, and folders. For desktop computers, the mouse is placed on a flat surface such as a mouse pad or a desk and is placed in front of your computer. In the picture is an example of a desktop computer mouse with two buttons and a wheel.</p>
										<p>Below is a list of each of the computer mouse functions that help a user use their computer and gives you an idea of all of the things a mouse is capable of doing.</p>
										<ul class="default">
											<li><b>Move the mouse cursor</b> - The primary function is to move the mouse cursor on the screen.</li>
											<li><b>Open or execute a program</b> - Once you've moved the cursor to an icon, folder, or other object clicking or double clicking that object opens the document or executes the program.</li>
											<li><b>Select</b> - A mouse also allows you to select text or a file or highlight and select multiple files at once.</li>
											<li><b>Drag-and-drop</b> - Once something is selected it can also be moved using the drag-and-drop method.</li>
											<li><b>Hover</b> - Moving the mouse cursor over objects with additional hover information can help discover the function of each object on the screen. For example, hover the mouse over the hover link to see an example.</li>
											<li><b>Scroll</b> - When working with a long document or viewing a long web page you may need to scroll up or down which can be done using the mouse wheel or clicking and dragging the scroll bar.</li>
											<li><b>Perform other functions</b> - Many desktop mice also have additional buttons that can be programmed to perform any function. For example, many mice have two side buttons on the thumb portion of the mouse the button closest to the palm can be programmed to go back on web pages.</li>
										</ul>
										<p>Today, most computer mice connect to a computer using a USB port. The other type of ports and wireless connections such as Bluetooth, infared, PS/2 port, serial port are capable of using or has used in the past.</p>
										<p>For laptop devices, because a laptop is designed for portability almost all laptops today use a touchpad as the mouse, and some Lenovo laptops still use a TrackPoint. Also, all laptop computers can have a USB corded or wireless mouse also attached to them.</p>
									</div>

									<div id="keyboard">
										<img src="images/keyboard.jpg" alt="" />
										<h3>Keyboard</h3>
										<p>A computer keyboard is one of the primary input devices used with a computer that looks similar to those found on electric typewriters, but with some additional keys. Keyboards allow you to input letters, numbers, and other symbols into a computer that can serve as commands or be used to type text.</p>
										<p>Today, most desktop computer keyboards connect to the computer using either USB or Bluetooth for wireless communication. Before USB, a computer may have used PS/2 or AT (Din5) as a keyboard interface.</p>
										<p>Most of the keyboards now are similar to each other, but may be missing one or more of the sections mentioned earlier (e.g. the keypad). Where keyboards begin to differ the most is with the keyboard layout. While most keyboards use the QWERTY layout, there are still people who use the DVORAK layout.</p>
										<p>A laptop keyboard is different from a desktop keyboard to help reduce the size and the overall weight of the laptop. Most laptop keyboards are made smaller by placing the keys closer to each other and not always including control keys or a keypad. For a laptop to have all the same functions of a desktop keyboard, laptop keyboards use a Fn key that is used in conjunction with other keys to perform special functions. For example, pressing the Fn key and the up or down arrow on the keyboard shown below, increases and decreases the brightness of the screen.</p>
										<p>Another difference with a laptop keyboard is the type of switch beneath each key or how the keys feel when pressed down. Some users may even experience more typing errors when typing on a laptop because of how easy it can be to press another key next to the key you intended to press.</p>
									</div>
									<div id="webcam">
										<img src="images/webcam.png" alt="" />
										<h3>Web Camera</h3>
										<p>A webcam is a hardware camera and input device that connects to a computer and the Internet and captures either still pictures or motion video of a user or other object. The picture of the Logitech C922 Pro Stream Webcam is an example of what a webcam may look.</p> 
										<p>Webcams are inventions that capture video or still images, that can then be stored or delivered through computer systems. Today, most webcams are either embedded into the display with laptop computers or connected to the USB or FireWire port on the computer.</p>
										<p>Webcam nowadays is usually has build in microphone. Microphone allows computer users to input audio into their computers. With the microphone webcam is able to capture and record both video and audio at the same time.</p>
										<p>Webcams are popular as they are easily transportable, practical, and can be of an inexpensive, affordable nature, and people like to use them to make video calls to friends, families and colleagues.</p>
									</div>
								</article>

							</div>
						</div>
					</div>
				</div>