<!-- Main -->
<div class="wrapper">
	<div class="container" id="main">

		<article id="content">
			<header>
				<h2>Output Devices</h2>
				<p>Output device is any peripheral that receives data from a computer, usually for display, projection, or physical reproduction.</p>
			</header>
			<a href="/#/output" class="image featured"><img src="images/output2.jpg" alt="" /></a>
			<p>The most commonly used or primary output devices on a computer are the monitor and speaker. However, there are dozens of other devices that can also be used to output data from the computer. Below is a list of computer output devices that can be utilized with a computer or a computing device.</p>
		</article>
		<div class="row 150%">
			<div class="9u 12u(narrower) important(narrower)">

				<!-- Content -->
				<article id="content">
					<div id="monitor">
						<header>
							<h2>List of Common Output Devices</h2>
						</header>
						<img src="images/monitor.png" alt="" />
						<h3>Monitor</h3>
						<p>Monitor is a device that displays video images to the user. A monitor is made up of circuitry, a screen, a power supply, buttons to adjust screen settings, and casing that holds all of these components.</p>
						<p>Like most early TVs, the first computer monitors were comprised of a CRT (Cathode Ray Tube) and a fluorescent screen. The display device in modern monitors is typically a thin film transistor liquid crystal display (TFT-LCD) or a flat panel LED display, while older monitors used a cathode ray tubes (CRT). It can be connected to the computer via VGA, DVI, HDMI, DisplayPort, Thunderbolt, LVDS (Low-voltage differential signaling) or other proprietary connectors and signals.</p>
						<p>Originally, computer monitors were used for data processing while television receivers were used for entertainment. From the 1980s onwards, computers (and their monitors) have been used for both data processing and entertainment, while televisions have implemented some computer functionality. The common aspect ratio of televisions, and computer monitors, has changed from 4:3 to 16:10, to 16:9.</p>
						<p>The performance of a monitor is measured by the following parameters:</p>
						<ul class="default">
							<li>Aspect ratio is the ratio of the horizontal length to the vertical length. Monitors usually have the aspect ratio 4:3, 5:4, 16:10 or 16:9.</li>
							<li>Display resolution is the number of distinct pixels in each dimension that can be displayed. For a given display size, maximum resolution is limited by dot pitch.</li>
							<li>Dot pitch is the distance between sub-pixels of the same color in millimeters. In general, the smaller the dot pitch, the sharper the picture will appear.</li>
							<li>Refresh rate is the number of times in a second that a display is illuminated. Maximum refresh rate is limited by response time.</li>
							<li>Response time is the time a pixel in a monitor takes to go from active (white) to inactive (black) and back to active (white) again, measured in milliseconds. Lower numbers mean faster transitions and therefore fewer visible image artifacts.</li>
							<li>Viewing angle is the maximum angle at which images on the monitor can be viewed, without excessive degradation to the image. It is measured in degrees horizontally and vertically.</li>
						</ul>
					</div>

					<div id="audio">
						<img src="images/speaker.jpg" alt="" />
						<img src="images/headphone.png" alt="" />
						<h3>Audio Devices</h3>
						<p>The most common audio devices for computer are speaker and headphone. A computer speaker is a hardware device that connects to a computer to generate sound. The signal used to produce the sound that comes from a computer speaker is created by the computer's sound card. Sometimes referred to as earphones, headphones are a hardware output device that either plug into your computer line out or your speakers to privately listen to audio without disturbing others.</p>
						<p>Speakers are made up of a cone, an iron coil, a magnet, and housing (case). When the speaker receives electrical input from a device, it sends the current through the causing it to move back and forth. This motion then vibrates the outer cone, generating sound waves picked up by our ears.</p>
						<p>When computers were originally released, they had on-board speakers built into the chassis that generated a series of different tones and beeps. As technology progressed, onboard speakers moved to the computer's monitor and acquired the ability to produce voices, music, and other sound effects. When computer gaming, digital music, and other media became popular, manufacturers began to make external speakers that produced higher quality sounds and improved base, required additional power.</p>
						<p>Speakers are rated in Frequency response, Total Harmonic Distortion, and Watts.</p>
						<ul class="default">
							<li>The Frequency response is the rate of measurement of the highs and lows of the sounds the speaker produces.</li>
							<li>Total Harmonic Distortion (THD) is the amount of distortion created by amplifying the signal.</li>
							<li>The Watts is the amount of amplification available for the speakers.</li>
						</ul>
						<p>Headphones are a pair of small electronic or electric listening devices that are designed to be worn on or around the head over a user's ears. They are electroacoustic transducers, which convert an electrical signal to a corresponding sound in the user's ear. Headphones are designed to allow a single user to listen to an audio source privately, in contrast to a loudspeaker, which emits sound into the open air, for anyone nearby to hear. </p>
						<p>Headphones that use cables typically have either a 1/4 inch (6.35mm) or 1/8 inch (3.5mm) phone jack for plugging the headphones into the audio source. Some stereo earbuds are wireless, using Bluetooth connectivity to transmit the audio signal by radio waves from source devices like cellphones and digital players.</p>
					</div>
					<div id="printer">
						<img src="images/printer.jpg" alt="" />
						<h3>Printer</h3>
						<p>A printer is an external hardware output device that takes the electronic data stored on a computer or other device and generates a hard copy of it. For example, if you created a report on your computer you could print several copies to hand out at a staff meeting. Printers are one of the most popular computer peripherals and are commonly used to print text and photos.</p> 
						<p>Below is a list of all the different types of computer printers. Today, the most common printers used with a computer are Inkjet and Laser printers.</p>
						<ul class="default">
							<li>3D printer</li>
							<li>All-in-one (AIO) printer</li>
							<li>Dot matrix printer</li>
							<li>Inkjet printer</li>
							<li>Laser printer</li>
							<li>LED printer</li>
							<li>Multifunction printer (MFP)</li>
							<li>Plotter</li>
							<li>Thermal printer</li>
						</ul>
						<p>There are a few different ways a printer can connect to and communicate with a computer (referred to as interfaces). Today, the most common connection types are by USB cable or via Wi-Fi.</p>
					</div>
				</article>
			</div>
			<div class="3u 12u(narrower)">

				<!-- Sidebar -->
				<section id="sidebar">
					<section>
						<header>
							<h3>Facts of Monitor</h3>
						</header>
						<ul class="default">
							<a href="/#/output" class="image featured"><img src="images/crt.jpg" alt="" /></a>
							<li>The CRT monitor. These are heavy, use a lot of desk space and electricity. It is the oldest technology used by monitors and is based on the cathode ray tube technology that was developed for television. Monitors are made with better parts which give a much higher display resolution and picture sharpness than a television. This type of monitor is no longer popular.</li>
							<li>A monitor is sometimes referred to as a screen, display, video display, video display terminal, video display unit, or video screen.</li>
							<li>Early electronic computers were fitted with a panel of light bulbs where the state of each particular bulb would indicate the on/off state of a particular register bit inside the computer. This allowed the engineers operating the computer to monitor the internal state of the machine, so this panel of lights came to be known as the 'monitor'.</li>
						</ul>
					</section>
					<section>
						<header>
							<h3>Facts of Audio Devices</h3>
						</header>
						<ul class="default">
							<li>The most common type of speakers uses a cone that is attached to an electromagnet, which responds to an electrical signal, causing the cone to vibrate and produce sound.</li>
							<li>Some loudspeakers are designed for lower-pitched sounds, such as woofer loudspeakers or subwoofer loudspeakers. Other loudspeakers, which are called tweeters, are designed to reproduce high-pitched sounds (such as the sound of a whistle or a bird singing).</li>
							<li>Headphones are sometimes known as ‘earspeakers’ or ‘cans’.</li>
							<li>In 1910, the first working headphones were created by Nathaniel Baldwin, a professor, among other things, but he didn’t patent his invention.</li>
							<li>Wearing headphones while exercising can be dangerous due to less blood in the ear, which causes the ears to be more easily damaged by loud volumes during those periods.</li>
						</ul>
					</section>
					<section>
						<header>
							<h3>Facts of Printer</h3>
						</header>
						<ul class="default">
							<li>The world’s smallest printer is 2 x 2 x 11 inches. This is known as the PrintStik, and it’s made by Planon. At a meager 1.5 pounds, it’s quite portable. It’s a Bluetooth printer and it can hold up to 20 sheets of paper at a time!</li>
							<li>The world’s largest printer is almost 40 x 164 feet. This printer is known as Infinitus and is made by Big Image Systems. It can print an image up to almost 2,000 square feet! This printer is used for printing backdrops for TV shows, movies, and theatre productions.</li>
							<li>The fastest printers in the world can print 150 pages in a minute. RISO makes these printers, and did we mention that those are color prints? To put that into perspective, most printers today pop out color sheets at a rate of 15 to 30 sheets per minute.</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>