<!-- Main -->
<div class="wrapper">
	<div class="container" id="main">

		<article id="content">
			<header>
				<h2>Processor</h2>
				<p>Processor is the logic circuitry that responds to and processes the basic instructions that drive a computer. </p>
			</header>
			<a href="/#/process" class="image featured"><img src="images/process2.jpg" alt="" /></a>
			<p>There are 2 different types of processor: central processing unit (CPU) and graphics processing unit (GPU). </p>
		</article>
		<div class="row 150%">
			<div class="3u 12u(narrower)">

				<!-- Sidebar -->
				<section id="sidebar">
					<section>
						<header>
							<h3>Facts of CPU</h3>
						</header>
						<ul class="default">
							<li>The first processor in the world is the Intel 4004 microprocessor. This processor is thrown into the market in 1971 for 200dollar and consists of over 2300 transistors. As a comparison, I7 Processor 45nm technology with transistors that have 731juta.</li>
							<li>The CPU is often referred to as the brain of the computer. However, it is more appropriate to refer to software as the brain and the CPU as a very efficient calculator. A CPU is really good with numbers, but if it wasn't for the software it wouldn't know how to do anything else.</li>
							<li>Many new computer users may improperly call their computer and sometimes their monitor the CPU. When referring to your computer or monitor, it is proper to refer to them as either the "computer" or "monitor" and not a CPU. The CPU is a chip within the computer.</li>
						</ul>
					</section>
					<section>
						<header>
							<h3>Facts of GPU</h3>
						</header>
						<ul class="default">
							<li>The term GPU was popularized by Nvidia in 1999, who marketed the GeForce 256 as "the world's first GPU", or Graphics Processing Unit. It was presented as a "single-chip processor with integrated transform, lighting, triangle setup/clipping, and rendering engines". Rival ATI Technologies coined the term "visual processing unit" or VPU with the release of the Radeon 9700 in 2002.</li>
							<li>Intel and AMD are the two most popular CPU manufacturers for desktops, laptops, and servers; AMD and Nvidia are the two most popular GPU manufacturers for desktops and laptops</li>
						</ul>
					</section>
				</div>
				<div class="9u 12u(narrower) important(narrower)">

					<!-- Content -->
					<article id="content">
						<div id="cpu">
							<header>
								<h2>List of Processors</h2>
							</header>
							<img src="images/cpu.jpg" alt="" />
							<h3>Central Processing Unit (CPU)</h3>
							<p>Alternately referred to as a processor, central processor, or microprocessor, the CPU (pronounced sea-pea-you) is the Central Processing Unit of the computer. A computer's CPU handles all instructions it receives from hardware and software running on the computer.</p>
							<p>A modern CPU is usually small and square, with many short, rounded, metallic connectors on its underside. Some older CPUs have pins instead metallic connectors.The CPU attaches directly to a CPU "socket" (or sometimes a "slot") on the motherboard. The CPU is inserted into the socket pin-side-down and a small lever helps to secure the processor.After running even a short while, modern CPUs can get very hot. To help dissipate this heat, it's almost always necessary to attach a heat sink and a fan directly on top of the CPU.</p>
							<p>The clock speed of a processor is the number of instructions it can process in any given second, measured in Gigahertz (GHz). For example, a CPU has a clock speed of 1 Hz if it can process one piece of instruction every second. Extrapolating this to a more real-world example: a CPU that has a clock speed of 3.0 GHz can process 3 billion instructions each and every second.</p>
							<p>Some devices have a single-core processor while others may have a dual-core (or quad-core, etc.) processor. As it might already be apparent, having two processor units working side-by-side means that the CPU can manage twice the instructions every second, simultaneously, drastically improving performance.</p>
							<p>Some CPUs can virtualize two cores for every one physical core that's available, known as Hyper-Threading. This means a CPU that may only have 4 cores can function as if it has 8, with the additional virtual CPU cores, referred to as separate threads. Please know, however, that physical cores do perform better than virtual ones.</p>
							<p>CPU-permitting, some applications can use what's called multithreading. If a thread is understood as a single piece of a computer process, then utilizing multiple threads in a single CPU core means more instructions can be understood and processed at once.</p>

						</div>

						<div id="gpu">
							<img src="images/gpu.jpg" alt="" />
							<h3>Graphic Processing Unit (GPU)</h3>
							<p>Graphic Processing Unit (GPU) is a specialized electronic circuit designed to rapidly manipulate and alter memory to accelerate the creation of images in a frame buffer intended for output to a display device. GPUs are used in embedded systems, mobile phones, personal computers, workstations, and game consoles.</p>
							<p>Modern GPUs are very efficient at manipulating computer graphics and image processing, and their highly parallel structure makes them more efficient than general-purpose CPUs for algorithms where the processing of large blocks of data is done in parallel. In a personal computer, a GPU can be present on a video card, or it can be embedded on the motherboard or—in certain CPUs.</p>
							<p>GPU-accelerated computing has now grown into a mainstream movement supported by the latest operating systems from Apple (with OpenCL) and Microsoft (using DirectCompute). The reason for the wide and mainstream acceptance is that the GPU is a computational powerhouse, and its capabilities are growing faster than those of the x86 CPU.</p>
							<p>In today’s PC, the GPU can now take on many multimedia tasks, such as accelerating Adobe Flash video, transcoding (translating) video between different formats, image recognition, virus pattern matching and others. More and more, the really hard problems to solve are those that have an inherent parallel nature – video processing, image analysis, signal processing.</p>
						</div>
					</article>

				</div>
			</div>
		</div>
	</div>