<!-- Main -->
<div class="wrapper">
	<div class="container" id="main">

		<article id="content">
			<header>
				<h2>User Centered Design (UCD)</h2>
				<p>An approach to interactive system development and focuses specifically on making systems usable.</p>
			</header>
			<a href="/#/ucd" class="image featured"><img src="images/ucd2.jpg" alt="" /></a>
			<p>Too often, systems are designed with a focus on business goals, fancy features, and the technological capabilities of hardware or software tools. All of these approaches to system design omit the most important part of the process – the end user. User-Centered Design (UCD) is the process of designing a tool, such as a website’s or application’s user interface, from the perspective of how it will be understood and used by a human user.</p>
			<p>Rather than requiring users to adapt their attitudes and behaviors in order to learn and use a system, a system can be designed to support its intended users’ existing beliefs, attitudes, and behaviors as they relate to the tasks that the system is being designed to support. The result of employing UCD to a system design is a product that offers a more efficient, satisfying, and user-friendly experience for the user, which is likely to increase sales and customer loyalty.</p>
			<h3>UCD Principles</h3>
			<hX>Early focus on users and tasks</hX>
			<ul class="default">
				<li>Structured and systematic information gathering</li>
				<li>Designers trained by experts before conducting data collection sessions</li>
			</ul>
			<hX>Empirical Measurement and testing of product usage</hX>
			<ul class="default">
				<li>Focus on ease of learning and ease of use</li>
				<li>Testing of prototypes with actual users</li>
			</ul>
			<hX>Iterative Design</hX>
			<ul class="default">
				<li>Product designed, modified and tested repeatedly.</li>
				<li>Allow for the complete overhaul and rethinking of design by early testing of conceptual models and design ideas.</li>
			</ul>
		</article>
	</div>
</div>