<!-- Footer -->
<div id="footer-wrapper">
	<div id="footer" class="container">
		<header class="major">
		<h2>Disclaimer</h2>
			<p>Computer Knowledge is a school project and everything in here is part of my assignment for User Centered Design subject in BSc of Software System Development course at Waterford Institute of Technology.
			</p>
		<ul class="menu">
			<li>
			<a class="image" href="http://www.wit.ie">
				<img alt="Waterford Institute of Technology" src="images/witlogo.png" class="img-responsive" />
			</a>
			</li>
		</ul>
		<ul class="menu">
			<li>&copy; 2017 Computer Knowledge</li>
		</ul>
		<ul class="menu">
			<li>
				<a href="/#/reference">Reference</a>
			</li>
			<li>
				<a href="/#/contact">Contact Me</a>
			</li>
			<li>
				<a href="/#/disclaimer">Disclaimer</a>
			</li>
		</ul>
		</header>
	</div>
</div>